<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuji.admin.mapper.CompanyPullConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wuji.admin.model.entity.CompanyPullConfigEntity">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="pull_config" property="pullConfig" />
        <result column="company_id" property="companyId" />
        <result column="config_type" property="configType" />
    </resultMap>

</mapper>
