<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuji.service.mapper.ApplicationPrivilegeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wuji.service.model.entity.ApplicationPrivilegeEntity">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="business_type" property="businessType" />
        <result column="bussiness_id" property="bussinessId" />
        <result column="creator_name" property="creatorName" />
    </resultMap>

</mapper>
