<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuji.service.mapper.ApplicationShareMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wuji.service.model.entity.ApplicationShareEntity">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="application_id" property="applicationId" />
        <result column="expire_time" property="expireTime" />
        <result column="creator_name" property="creatorName" />
    </resultMap>

</mapper>
