<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuji.service.mapper.FormRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wuji.service.model.entity.FormRuleEntity">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="deleted" property="deleted" />
        <result column="form_id" property="formId" />
        <result column="application_id" property="applicationId" />
        <result column="rule_name" property="ruleName" />
        <result column="rule_config" property="ruleConfig" />
        <result column="rule_type" property="ruleType" />
        <result column="state" property="state" />
        <result column="creator" property="creator" />
        <result column="modifier" property="modifier" />
    </resultMap>

</mapper>
