<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuji.service.mapper.TemplateFormPrivilegeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wuji.service.model.entity.TemplateFormPrivilegeEntity">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="deleted" property="deleted" />
        <result column="application_id" property="applicationId" />
        <result column="category_id" property="categoryId" />
        <result column="user_privilege" property="userPrivilege" />
        <result column="group_name" property="groupName" />
        <result column="description" property="description" />
        <result column="field_privilege" property="fieldPrivilege" />
        <result column="group_type" property="groupType" />
        <result column="view_privilege" property="viewPrivilege" />
        <result column="operate_privilege" property="operatePrivilege" />
        <result column="data_scope" property="dataScope" />
        <result column="creator_name" property="creatorName" />
        <result column="modifier_name" property="modifierName" />
        <result column="operate_field_privilege" property="operateFieldPrivilege" />
    </resultMap>

</mapper>
